@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Body--open,
.ReactModal__Html--open {
  overflow: hidden;
  background-color: black;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: whitesmoke;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #22c55e;
}

body {
  border-color: whitesmoke;
}
