@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background-color: transparent;
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  /* background: whitesmoke; */
  border: 4px solid transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #22c55e; */
  background: transparent;
}

body {
  border-color: whitesmoke;
}
